@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Josefin Sans';
    src: url('../assets/JosefinSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

body, html{
    font-family: 'Josefin Sans', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
}

#__next{
    min-width: 100vw;
    min-height: 100vh;
}